
{% extends "bootstrap/base.html" %}

{% block content %}


        <div class="container">
        <center> <h2>Film's list</h2>  </center>
            {% for pelicula in films %}

                <h3> <a href= "{{ url_for('mostrar_pelicula' ,film_id=pelicula.id) }}"> {{ pelicula.title }} </a></h3>
                <p> Año de lanzamiento: {{ pelicula.releaseDate[0:4] }} </p>
                <p> Director: {{ pelicula.director }} </p>
                <p> Productos(es): {{ ' - '.join(pelicula.producers) }} </p>
                <p> Número de episodio: {{ pelicula.episodeID }} </p>
                <details>
                  <summary>Ver más</summary>
                  <p> {{ pelicula.openingCrawl }}</p>
                </details>
            {% endfor %}
        </div>

{% endblock %}
