
{% extends "bootstrap/base.html" %}


{% block content %}
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

<!-- Navbar brand -->
      <a class="navbar-brand" href="/">Home</a>

    <div class="container">
        <center> <h1>{{ variable.name }}</h1>  </center>
        <h3> Model: </h3><p> {{ variable.model }} </p>
        <h3> Manufacturer: </h3><p> {{ " / ".join(variable.manufacturers) }} </p>
        <h3> Cost in credits: </h3><p> {{ variable.costInCredits }} </p>
        <h3> Length: </h3><p> {{ variable.length }} </p>
        <h3> Max atmosphering speed: </h3><p> {{ variable.maxAtmospheringSpeed }} </p>
        <h3> Crew: </h3><p> {{ variable.crew }} </p>
        <h3> Passengers: </h3><p> {{ variable.passengers }} </p>
        <h3> Cargo capacity: </h3><p> {{ variable.cargoCapacity }} </p>
        <h3> Consumables: </h3><p> {{ variable.consumables }} </p>
        <h3> Hyperdrive rating: </h3><p> {{ variable.hyperdriveRating }} </p>
        <h3> MGLT: </h3><p> {{ variable.MGLT }} </p>
        <h3> Class: </h3><p> {{ variable.starshipClass }} </p>

        <h3> Films: </h3>
        <table class="table">
        {% for p in peliculas %}
            <tr>
                <th><a href= "{{ url_for('mostrar_pelicula', film_id=p.id) }}"> {{ p.title }}</a></th>
              </tr>
        {% endfor %}
        </table>

        <h3> Pilots: </h3>
        <table class="table">
        {% for p in pilotos %}
            <tr>
                <th><a href= "{{ url_for('mostrar_personaje', personaje_id=p.id) }}"> {{ p.name }}</a></th>
              </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
