
{% extends "bootstrap/base.html" %}

{% block content %}

    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>


    <div class="container">
        <center> <h1>{{ pelicula.title }}</h1>  </center>
        <h3> Release Date: </h3><p> {{ pelicula.releaseDate }} </p>
        <h3> Director: </h3><p> {{ pelicula.director }} </p>
        <h3> Producer(s): </h3><p> {{ pelicula.producers }} </p>
        <h3> Episode Number: </h3><p> {{ pelicula.episodeID }} </p>
        <h3> Abstract: </h3><p> {{ pelicula.openingCrawl }} </p>
        <h3> Characters:</h3>
        <table class="table">
        {% for p in personajes %}
            <tr>
                <th><a href= "{{ url_for('mostrar_personaje', personaje_id=p.id) }}"> {{ p.name }}</a></th>
              </tr>
        {% endfor %}
        </table>
        <h3> Starships: </h3>
        <table class="table">
        {% for p in naves %}
            <tr>
                <th><a href= "{{ url_for('mostrar_nave', nave_id=p.id) }}"> {{ p.name }}</a></th>
              </tr>
        {% endfor %}
        </table>
        <h3> Planets: </h3>
        <table class="table">
        {% for p in planetas %}
            <tr>
                <th><a href= "{{ url_for('mostrar_planeta', planeta_id=p.id) }}"> {{ p.name }}</a></th>
              </tr>
        {% endfor %}
        </table>

    </div>
{% endblock %}
