
{% extends "bootstrap/base.html" %}


{% block content %}
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

<!-- Navbar brand -->
      <a class="navbar-brand" href="/">Home</a>

    <div class="container">
        <center> <h1>{{ personaje.name }}</h1>  </center>
        <h3> Birdth Year: </h3><p> {{ personaje.birthYear }} </p>
        <h3> Eye color: </h3><p> {{ personaje.eyeColor }} </p>
        <h3> Skin color: </h3><p> {{ personaje.skinColor }} </p>
        <h3> Gender: </h3><p> {{ personaje.gender }} </p>
        <h3> Hair color: </h3><p> {{ personaje.hairColor }} </p>
        <h3> Height: </h3><p> {{ personaje.height }} </p>
        <h3> Mass: </h3><p> {{ personaje.mass }} </p>
        <h3> Name: </h3><p> {{ personaje.name }} </p>
        <h3> Homeworld: </h3><a href= "{{ url_for('mostrar_planeta', planeta_id=planeta.id) }}"> {{ planeta.name }}</a>

        <h3> Films: </h3>
        <table class="table">
        {% for p in peliculas %}
              <tr>
                <th><a href= "{{ url_for('mostrar_pelicula', film_id=p.id) }}"> {{ p.title }}</a></th>
              </tr>
        {% endfor %}
        </table>

        <h3> Starships: </h3>
        <table class="table">
        {% for p in naves %}
            <tr>
                <th><a href= "{{ url_for('mostrar_nave', nave_id=p.id) }}"> {{ p.name }}</a></th>
              </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
